#accordionExample{
  margin-top: 50px;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none;
  color: white;
  background-color: #77004f;
  border-radius: 5px;
}

.btn:hover {
  background-color: #8000b3;
}
