.main {
  background-image: url("/assets/img/bienestar.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: #002a53 !important;
}
