<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-inventario-solicitud-side-bar></app-inventario-solicitud-side-bar>
    </div>

    <div class="col-md-9" id="inventario-solicitud-filtro">
      <app-inventario-solicitud-filter-form
        (filtroAplicado)="aplicarFiltro($event)"
      ></app-inventario-solicitud-filter-form>
      <app-inventario-solicitud-table #tabla></app-inventario-solicitud-table>
    </div>
  </div>
</div>

<footer class="bg-dark text-white text-center py-3 mt-sm-5">
  <div class="container">
    <p class="mb-0">© 2023 Johan Palma.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#" class="text-white">Privacy Policy</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">Terms of Service</a></li>
      <li class="list-inline-item"><a href="#" class="text-white">Contact Us</a></li>
    </ul>
  </div>
</footer>
