<div class="container my-5">
  <h2 class="text-center mb-5 display-4 fw-bold text-primary">Servicios Disponibles</h2>

  <div class="row g-4">
    <div class="col-md-6 col-lg-4" *ngFor="let servicio of servicios">
      <div class="card shadow-sm h-100">
        <img [src]="servicio.img" class="card-img-top" [alt]="servicio.nombre">
        <div class="card-body">
          <h5 class="card-title text-center fw-bold">{{ servicio.nombre }}</h5>
          <p class="card-text text-center">{{ servicio.descripcion }}</p>
          <p class="text-muted text-center">Cupos disponibles: {{ servicio.cupos }}</p>
          <div class="d-grid">
            <button class="btn btn-outline-primary mt-3">Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
